In [31]:
# General syntax to import a library but no functions:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import style

In [32]:
location = 'time-loc_20160808-14.csv'
df = pd.read_csv(location)

In [33]:
df.head()

  mode        date tap   time   loc  count
0  bus  20160809.0  on  02:30  2000   81.0
1  bus  20160809.0  on  13:30  2095   93.0
2  bus  20160809.0  on  13:30  2097   33.0
3  bus  20160809.0  on  13:30  2090   22.0
4  bus  20160809.0  on  13:30  2093   19.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225082 entries, 0 to 225081
Data columns (total 6 columns):
mode     225082 non-null object
date     225080 non-null float64
tap      225080 non-null object
time     225080 non-null object
loc      225080 non-null object
count    225080 non-null float64
dtypes: float64(2), object(4)
memory usage: 10.3+ MB

In [35]:
df['date'] = pd.to_datetime(df['date'].astype(str), format = '%Y%m%d')

In [36]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225082 entries, 0 to 225081
Data columns (total 6 columns):
mode     225082 non-null object
date     225080 non-null datetime64[ns]
tap      225080 non-null object
time     225080 non-null object
loc      225080 non-null object
count    225080 non-null float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 10.3+ MB

  mode       date tap   time   loc  count
0  bus 2016-08-09  on  02:30  2000   81.0
1  bus 2016-08-09  on  13:30  2095   93.0
2  bus 2016-08-09  on  13:30  2097   33.0
3  bus 2016-08-09  on  13:30  2090   22.0
4  bus 2016-08-09  on  13:30  2093   19.0

In [37]:
tapDay = df.groupby('date').aggregate(sum)
tapDay

                count
date
2016-08-08  4216054.0
2016-08-09  4307595.0
2016-08-10  4308363.0
2016-08-11  4361192.0
2016-08-12  4244161.0
2016-08-13  2023569.0
2016-08-14  1710499.0

In [38]:
tapOn = df.groupby('tap').aggregate(sum)
tapOn

          count
tap
off  12586792.0
on   12584641.0

In [44]:
df.dropna()[:5]

  mode       date tap   time   loc  count
0  bus 2016-08-09  on  02:30  2000   81.0
1  bus 2016-08-09  on  13:30  2095   93.0
2  bus 2016-08-09  on  13:30  2097   33.0
3  bus 2016-08-09  on  13:30  2090   22.0
4  bus 2016-08-09  on  13:30  2093   19.0

In [45]:
tapOnOff = df.groupby(['mode','tap']).aggregate(sum)
plt.figure();
tapOnOff.plot(kind='bar')